<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-active-users-heading" jhiTranslate="gradingApp.activeUsers.home.createOrEditLabel">Create or edit a Active Users</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!activeUsers.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="activeUsers.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gradingApp.activeUsers.username" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                        [(ngModel)]="activeUsers.username" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gradingApp.activeUsers.login_time" for="field_login_time">Login Time</label>
                    <div class="d-flex">
                        <input id="field_login_time" type="datetime-local" class="form-control" name="login_time" [(ngModel)]="login_time"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gradingApp.activeUsers.logout_time" for="field_logout_time">Logout Time</label>
                    <div class="d-flex">
                        <input id="field_logout_time" type="datetime-local" class="form-control" name="logout_time" [(ngModel)]="logout_time"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gradingApp.activeUsers.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="activeUsers.active" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
