<div>
    <h2 id="page-heading">
        <span jhiTranslate="gradingApp.activeUsers.home.title">Active Users</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="activeUsers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="username"><span jhiTranslate="gradingApp.activeUsers.username">Username</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="login_time"><span jhiTranslate="gradingApp.activeUsers.login_time">Login Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="logout_time"><span jhiTranslate="gradingApp.activeUsers.logout_time">Logout Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="gradingApp.activeUsers.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activeUsers of activeUsers ;trackBy: trackId">
                <td><a [routerLink]="['/active-users', activeUsers.id, 'view' ]">{{activeUsers.id}}</a></td>
                <td>{{activeUsers.username}}</td>
                <td>{{activeUsers.login_time | date:'medium'}}</td>
                <td>{{activeUsers.logout_time | date:'medium'}}</td>
                <td>{{activeUsers.active}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="activeUsers && activeUsers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
