<div *jhiHasAnyAuthority="'ROLE_LADMIN'">
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="submissions">
        <div class="">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-submissions"
                    (click)="clearData()">
                <fa-icon [icon]="'times'"></fa-icon>
                <span jhiTranslate="gradingApp.submissions.home.clearData"></span>
            </button>
            <button id="jh-create-entity" style="margin-right: 20px;"
                    class="btn btn-primary float-right jh-create-entity create-submissions">
                <fa-icon [icon]="'upload'"></fa-icon>
                <span jhiTranslate="gradingApp.submissions.home.importCsv"></span>
            </button>
        </div>
        <h2 id="table-heading">
            <span jhiTranslate="gradingApp.submissions.table.title"></span>
        </h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="gradingApp.submissions.fdaiNumber">Fdai Number</span></th>
                <th><span jhiTranslate="gradingApp.submissions.name">Name</span></th>
                <th><span jhiTranslate="gradingApp.submissions.files">Files</span></th>
                <th><span jhiTranslate="gradingApp.submissions.print">Files</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let submissions of submissions ;trackBy: trackId">
                <td><a [routerLink]="['/submissions', submissions.id, 'view' ]">{{submissions.id}}</a></td>
                <td>{{submissions.fdaiNumber}}</td>
                <td>{{submissions.name}}</td>
                <td>
                    <a *ngIf="submissions.files" (click)="openFile(submissions.filesContentType, submissions.files)"
                       jhiTranslate="entity.action.open">open</a>
                    <span
                        *ngIf="submissions.files">{{submissions.filesContentType}}, {{byteSize(submissions.files)}}</span>
                </td>
                <td>
                    <button class="btn btn-primary" style="color: white"
                            (click)="openFile(submissions.filesContentType, submissions.files)">
                        <fa-icon [icon]="'file-pdf'"></fa-icon>
                        <span jhiTranslate="gradingApp.submissions.print"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div [hidden]="isLadmin()">
    <h2 id="page-heading">
        <span jhiTranslate="gradingApp.submissions.home.title">Submissions</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="submissions">
        <div class="upload__button">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-submissions"
                    [routerLink]="['/submissions/new']" style="color: white">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span jhiTranslate="gradingApp.submissions.home.createLabel"></span>
            </button>
        </div>
        <h2 id="table-heading">
            <span jhiTranslate="gradingApp.submissions.table.title"></span>
        </h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="gradingApp.submissions.fdaiNumber">Fdai Number</span></th>
                <th><span jhiTranslate="gradingApp.submissions.name">Name</span></th>
                <th><span jhiTranslate="gradingApp.submissions.course">Course</span></th>
                <th><span jhiTranslate="gradingApp.submissions.subject">Subject</span></th>
                <th><span jhiTranslate="gradingApp.submissions.exercises">Exercises</span></th>
                <th><span jhiTranslate="gradingApp.submissions.files">Files</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let submissions of submissions ;trackBy: trackId">
                <td><a [routerLink]="['/submissions', submissions.id, 'view' ]">{{submissions.id}}</a></td>
                <td>{{submissions.fdaiNumber}}</td>
                <td>{{submissions.name}}</td>
                <td jhiTranslate="{{'gradingApp.Course.' + submissions.course}}">{{submissions.course}}</td>
                <td jhiTranslate="{{'gradingApp.Subject.' + submissions.subject}}">{{submissions.subject}}</td>
                <td jhiTranslate="{{'gradingApp.Exercise.' + submissions.exercises}}">{{submissions.exercises}}</td>
                <td>
                    <a *ngIf="submissions.files" (click)="openFile(submissions.filesContentType, submissions.files)"
                       jhiTranslate="entity.action.open">open</a>
                    <span
                        *ngIf="submissions.files">{{submissions.filesContentType}}, {{byteSize(submissions.files)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/submissions', submissions.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/submissions', submissions.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'submissions/'+ submissions.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
