<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-submissions-heading" jhiTranslate="gradingApp.submissions.home.createOrEditLabel">Create or edit a Submissions</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!submissions.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="submissions.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gradingApp.submissions.fdaiNumber" for="field_fdaiNumber">Fdai Number</label>
                    <input type="text" class="form-control" name="fdaiNumber" id="field_fdaiNumber"
                        [(ngModel)]="submissions.fdaiNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gradingApp.submissions.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="submissions.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gradingApp.submissions.course" for="field_course">Course</label>
                    <select class="form-control" name="course" [(ngModel)]="submissions.course" id="field_course" >
                        <option value="GSD">{{'gradingApp.Course.GSD' | translate}}</option>
                        <option value="AI">{{'gradingApp.Course.AI' | translate}}</option>
                        <option value="WIN">{{'gradingApp.Course.WIN' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gradingApp.submissions.subject" for="field_subject">Subject</label>
                    <select class="form-control" name="subject" [(ngModel)]="submissions.subject" id="field_subject" >
                        <option value="JAVA">{{'gradingApp.Subject.JAVA' | translate}}</option>
                        <option value="Mlearning">{{'gradingApp.Subject.Mlearning' | translate}}</option>
                        <option value="Middleware">{{'gradingApp.Subject.Middleware' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gradingApp.submissions.exercises" for="field_exercises">Exercises</label>
                    <select class="form-control" name="exercises" [(ngModel)]="submissions.exercises" id="field_exercises" >
                        <option value="E1">{{'gradingApp.Exercise.E1' | translate}}</option>
                        <option value="E2">{{'gradingApp.Exercise.E2' | translate}}</option>
                        <option value="E3">{{'gradingApp.Exercise.E3' | translate}}</option>
                        <option value="E4">{{'gradingApp.Exercise.E4' | translate}}</option>
                        <option value="E5">{{'gradingApp.Exercise.E5' | translate}}</option>
                        <option value="E6">{{'gradingApp.Exercise.E6' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gradingApp.submissions.files" for="field_files">Files</label>
                    <div>
                        <div *ngIf="submissions.files" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(submissions.filesContentType, submissions.files)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{submissions.filesContentType}}, {{byteSize(submissions.files)}}</span>
                            <button type="button" (click)="submissions.files=null;submissions.filesContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_files" (change)="setFileData($event, submissions, 'files', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="files" id="field_files"
                        [(ngModel)]="submissions.files" />
                    <input type="hidden" class="form-control" name="filesContentType" id="field_filesContentType"
                        [(ngModel)]="submissions.filesContentType" />
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" style="color: white">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
